[Unit]
Description=PrintProject Kiosk Chromium (%i)
After=graphical.target printproject-frontend-serve@%i.service printproject-pi@%i.service
Wants=printproject-frontend-serve@%i.service printproject-pi@%i.service

[Service]
Type=simple
User=%i
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/%i/.Xauthority
ExecStartPre=/bin/sleep 5
ExecStart=/bin/bash /home/%i/PrintProject/pi/frontend/start-kiosk.sh http://localhost:4173
Restart=always
RestartSec=5

[Install]
WantedBy=graphical.target
